nav {
    width: 100%;
    max-width: 1500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: #FF0043;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang {
    border: none;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.try__btn {
    width: 100%;
    max-width: 94px;
    height: 46px;
    border-radius: 23px;
    background: #FF0043;
    box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.10);
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}